docs/INPAS/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="field">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:integer" use="required"/>
					<xs:attribute name="hex" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ipaddr" type="xs:string"/>
	<xs:element name="timeout" type="xs:integer"/>
	<xs:element name="ncom" type="xs:string"/>
	<xs:element name="baudrate" type="xs:integer"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="ipaddr"/>
				</xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="ncom"/>
					<xs:element ref="baudrate"/>
				</xs:sequence>
				<xs:element ref="timeout" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>